#root {
    -fx-background-color: '#1c1c1c';
    -fx-background-image: url(default_img.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;

}